<a href="https://colab.research.google.com/github/mehak-kalia/FoodieAppFlutter/blob/master/COE_Sabudh_Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Lists 
#1

List = [2,7,8,7,9,3,5,4,1,0,11,12,17]

List[0],List[-2] = List[-2],List[0]

print(List)

[12, 7, 8, 7, 9, 3, 5, 4, 1, 0, 11, 2, 17]

In [ ]:
# Lists
#2

numbers = [11,2,67,6,26,5,4,76,77]
  
numbers.sort()
  
print(numbers[4])

11

In [2]:
# Lists
#3

a = [1, 3, 5, 8, 10, 9]
b = [2, 7, 9]

print(a[:-1:] + b)

[1, 3, 5, 8, 10, 2, 7, 9]

In [5]:
# Lists
#4

a = [12,3,4,98,100,75]
b = [12,3,4,98,100,75]
i=0
while i<len(b):
    key=i
    j=i+1
    while j<len(b):
        if b[key]>b[j]:
            key=j
        j+=1
    b[i],b[key]=b[key],b[i]
    i+=1
print(b+b[0:3])
print(b+a[0:3])

[3, 4, 12, 75, 98, 100, 3, 4, 12]
[3, 4, 12, 75, 98, 100, 12, 3, 4]

In [ ]:
#Lists
#5

a = [1, 2, 5, 8, 9, 10, 0]

sum = 0

for val in a:
  sum += val

mean = sum/len(a)

print(mean)
print(mean in a)

5.0
True

In [ ]:
#Lists
#6

a = "Hello"
b = "Ryan"

list1 =[]
list2 = []
list1.append(a)
list2.append(b)

print(list1*len(a) + list2*len(b))

['Hello', 'Hello', 'Hello', 'Hello', 'Hello', 'Ryan', 'Ryan', 'Ryan', 'Ryan']

In [ ]:
#Lists
#7

List = ['Hello', 'John', 'noice', 'Hello', 'again', 'Hello']
a = 'Hello'

idx = List.index(a)

List[idx] = a[::-1]

print(List)

['olleH', 'John', 'noice', 'Hello', 'again', 'Hello']

In [ ]:
#dictionary 
#1

dict1 = { 'FirstName' : 'Rahul',      
            'age' : 9   
}   
dict2 = {  
            'LastName' : 'Vaidya',      
            'class' : 10
}                          
print("Before merging the two dictionary ")  
print("Dictionary No. 1  : ", dict1) 
print("Dictionary No. 2  : ", dict2)   
  
dict3 = dict1.copy()
  
for key, value in dict2.items():    
    dict3[key] = value  
  
print("After merging of the two Dictionary ")  
print(dict3)

Before merging the two dictionary
Dictionary No. 1  :  {'FirstName': 'Rahul', 'age': 9}
Dictionary No. 2  :  {'LastName': 'Vaidya', 'class': 10}
After merging of the two Dictionary
{'FirstName': 'Rahul', 'age': 9, 'LastName': 'Vaidya', 'class': 10}

In [ ]:
#dictionary
#2

a_dict = {'1':2, '3':4, '5':6, '7':8}
values = a_dict.values()
total = sum(values)
print(total)

20

In [ ]:
#dictionary
#3

Dictionary= {1:[1,2,3], 2:[2,3,4,5], 3:[2,3,4,5,6], 4:[1,2]}

for key, value in Dictionary.items():
  if len(value)>=5:
    value.remove(value[len(value)-1])
print(Dictionary)

{1: [1, 2, 3], 2: [2, 3, 4, 5], 3: [2, 3, 4, 5], 4: [1, 2]}

In [ ]:
#dictionary
#4

Dictionary = [{'apple' : 1, 'mango' : 2, 'orange' : 1, 'banana' : 2}]

result = list(set(val for dic in Dictionary for val in dic.values()))
      
print("The unique values in list are : " + str(result))

The unique values in list are : [1, 2]

In [ ]:
#dictionary
#5

a = [2,68,7,8,98,70]

b = {key: i for i, key in enumerate(a)}
print(b)

{2: 0, 68: 1, 7: 2, 8: 3, 98: 4, 70: 5}

In [ ]:
#dictionary
#6

sampleDict = { 

   "sabudh":{ 

      "intern":{ 

         "name":"Mike",

         "marks":{ 

            "python1":70,

            "python2":80

         }

      }

   }

}

a = sampleDict["sabudh"]["intern"]["marks"]["python2"]

print(a)

80

In [ ]:
#dictionary
#7

d = {'a': 'antelope', 'b': 'bunny', 'c': 'cat'}
'bunny' in d.values()

True